@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

/* Container of the scrollbar */
::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #f0bf1a;
  border-radius: 5px; /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a57e00; /* slightly lighter dark gray on hover */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #edf2f7; /* light gray */
  border-radius: 5px; /* rounded corners */
}

/* Button at the top and bottom (buttons are hidden in this example) */
::-webkit-scrollbar-button {
  display: none; /* hides scrollbar buttons */
}
