@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientLoopForm {
  0%,
  100% {
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-purple-600)
    );
  }
  50% {
    background: linear-gradient(
      to right,
      var(--color-purple-600),
      var(--color-primary)
    );
  }
}

@keyframes gradientLoopWizard {
  0%,
  100% {
    background: linear-gradient(
      to right,
      var(--color-green-400),
      var(--color-red-500)
    );
  }
  50% {
    background: linear-gradient(
      to right,
      var(--color-red-500),
      var(--color-green-400)
    );
  }
}
